<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>

    <header>
        <div className="App">
            <nav class="navbar">
              <div class="logo">Dados da Vitivinicultura</div>
      
              <ul class="nav-links">
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">
                  &#9776;
                </label>
      
                <div class="menu">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/login">Login</a>
                  </li>
                  <li>
                    <a href="/producao">Produção</a>
                  </li>
                  <li>
                    <a href="/processamento">Processamento</a>
                  </li>
                  <li>
                    <a href="/comercializacao">Comercialização</a>
                  </li>
                  <li>
                    <a href="/importacao">Importação</a>
                  </li>
                  <li>
                    <a href="/exportacao">Exportação</a>
                  </li>
                </div>
              </ul>
            </nav>
          </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
  
</body>
</html>